.header {
  height: 60px;
  background: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}